@media only screen and ((max-width: 1025px) or (orientation: portrait)) {
	.main-wrapper {
		display: block;
	}

	.main-sidebar {
		width: 0%;
		visibility: hidden;
	}

	.top-sidebar {
		margin-top: 2em;
		visibility: visible;
		width: 90%;
	}

	.main {
		width: 90%
	}

	div.gallery-image {
		width: 90%;
	}

	.logo {
		width: 6em;
		margin-right: auto;
		background-color: black;
	}

}
