@media only screen and (orientation: portrait) {

	.main {
		font-size: 2em;
	}

	h2 {
		border-bottom: solid 0.15em #000000;
		font-size: 2em;
	}

	h3 {
		font-size: 2em;
	}

}

@media only screen and ((max-width: 1025px) or (orientation: portrait)) {

	.left-sidebar {
		width: 0px;
		visibility: hidden;
	}

	.top-sidebar {
		margin-top: 5vw;
		visibility: visible;
		width: 90%;
		height: fit-content;
		border-bottom: 0.6em solid black;

		ul {
		}
	}

	.desktop-only {
		width: 0px;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
	}
	.mobile-only {
		width: auto;
		height: auto;
		visibility: visible;
		overflow: auto;
	}

	.main {
		width: 90%;
	}

	.gallery-image {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2.0em;
		margin-top: 1.0em;
		float: inherit;
	}

	.gallery-picture {
		width: 90% !important;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2.0em;
		margin-top: 1.0em;
		float: inherit;
	}

	.logo {
		padding-right: 2em;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
		width: auto;
		font-size: 4em;
	}


	.text-left-wrapper{
		width: 100%;
	}

	.image-right-wrapper{
		width: 100%;
	}

	.gallery-picture .container .gallery-description {
		visibility: visible;
		p {
			font-size: 2em;
		}
	}

	.gallery-image img {
		filter: grayscale(0%);
	}

}
