body { background-color: #FFFFFF;}
::selection { background-color:#FFC100; color:#000; text-decoration:none }

@font-face { font-family: TexGyreHeros; src: url('../fonts/TeX_Gyre_Heros/texgyreheros-regular.otf'); }
@font-face { font-family: TexGyreHeros; font-weight: bold; src: url('../fonts/TeX_Gyre_Heros/texgyreheros-bold.otf'); }

@font-face { font-family: Gemsbuck; src: url('../fonts/Gemsbuck/Gemsbuck-bold.ttf'); }



/* GENERIC CLASES */

* {
    /* margin: 0; */
    /* padding: 0; */
	/* cursor: crosshair; */
}

a{
	/* cursor: cell; */
}

.display-flex{
	display: flex;
}

.space-between{
	justify-content: space-between;
}


.black-bg{
    background-color: rgba( 0, 0, 0, 0.6);
}

.margin-top-10{
    margin-top: 10px;
}

.margin-left-5{
    margin-left: 0.5vw;
}

.margin-right-5{
    margin-right: 0.5vw;
}

.basic-margin{
    margin: 0.5vw;
}

.text-align-right{

}


/* GENERIC CLASES */

body {
	width: 100vw;
	margin: 0;
	overflow-x: hidden;
}

table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid #000000;
	text-align: center;
	padding: 8px;
}
.square {
	height: 50px;
	width: 50px;
	background-color: #555;
}

h2:before {
	width: 0.75em;
	height: 0.75em;
	margin-right: 0.3em;
	content: "";
	display: inline-block;
	background: #000000;
}

h1 {
	margin-top: 0;
	padding-bottom: 0px;
	margin-bottom: 8px;
	border-bottom: solid 4px #000000;
}


h2 {
	padding-bottom: 0px;
	margin-bottom: 8px;
	border-bottom: solid 4px #000000;
}

.centered-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.right-img {
	display: block;
    float: right;
    width: 100%;
    margin-top: 20px;
}

/* MAIN DIVS */

.main-wrapper{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: max-content;
    display: flex;
}

	/* SIDE CONTENT */

	.main-content{
		width: inherit;
	}

	.main {
		font-family: TexGyreHeros, sans-serif;
		color: #000000;
		width: 70%;
		margin: 0 auto;
		padding-bottom: 100px;
	}
	.main a { color: #000000; font-weight:bold; text-decoration:none }
	.main a:hover { background-color:#FFC100; color:#000 }
	.main a:before{content:"«"}
	.main a:after{content:"»"}

	.content-title{
		margin: 25px 0 0 0;
	}

	.content-title h1{
		background-color: #000000;
		font-size: 30px;
		color: #FFFFFF;
		padding: 12px 12px 2px 15px;
		font-family: Gemsbuck, sans-serif;
		margin: 0;
		text-align: inherit;
		width: fit-content;
		border-bottom: none;
		
	}

	.content-row{
		margin: 25px 0 0 0;
	}

	.italic{
		font-style: italic;
	}

	/* SIDE CONTENT */


	/* SIDE BAR */

	.logo{
		background-color: #000000;
		font-size: 30px;
		color: #FFFFFF;
		padding: 10px 4px 4px 14px;
		font-family: Gemsbuck, sans-serif;
		margin: 0;
		text-align: inherit;
		cursor: pointer;
	}

	.main-sidebar{
		height: 10vw;
		position: fixed;
		width: 250px;
		height: 100vh;
		font-family: TexGyreHeros, sans-serif;	
		z-index: 1;
		overflow-x: hidden;
		color: #000000;
		/* margin-top: 10px; */
		/* background-color: #FFFFFF; */
		/* padding: 20px 20px; */
		/* position: fixed; */
	}
	.main-sidebar a { color: #000000; text-decoration:none }
	.main-sidebar a:hover { background-color:#FFC100; color: #000000; text-decoration:none }

	.main-sidebar ul{
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	.main-sidebar ul li{
		font-weight: bold;
		font-size: 22px;
		margin-left: 20px;
		margin: 7px 16px;
	}

	.sidebar-menu{
		margin: 25px 0 0 0;
	}

	/* SIDE BAR */

	.text-left-wrapper{
		width: 65%;
		padding-right: 50px;
	}

	.image-right-wrapper{
		width: 35%;
	}

	.img-shout-out{
		width: 100%;
		text-align: right;
	}

/* MAIN DIVS */
