body { background-color: #FFFFFF;}
::selection { background-color:#FFC100; color:#000; text-decoration:none }

@font-face { font-family: TexGyreHeros; src: url('../fonts/TeX_Gyre_Heros/texgyreheros-regular.otf'); }
@font-face { font-family: TexGyreHeros; font-weight: bold; src: url('../fonts/TeX_Gyre_Heros/texgyreheros-bold.otf'); }

@font-face { font-family: Orbitron; src: url('../fonts/Orbitron/Orbitron-Black.ttf'); }

.display-flex{
	display: flex;
}

.space-between{
	justify-content: space-between;
}

body {
	width: 100vw;
	margin: 0;
	padding: 0;
	height: max-content;
	overflow-x: hidden;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid #000000;
	text-align: center;
	padding: 8px;
}

h1:before {
	width: 0.775em;
	height: 0.75em;
	margin-right: 0.3em;
	content: "";
	display: inline-block;
	background: #000000;
}
h1 {
	background-color: white;
	font-size: 6vh;
	color: black;
	margin: 0 0 0 0;
	padding: 1vh 0 0 0;
	font-family: Orbitron, sans-serif;
	width: fit-content;
	text-transform: uppercase;
}

h2:before {
	width: 0.75em;
	height: 0.75em;
	margin-right: 0.3em;
	content: "";
	display: inline-block;
	background: #000000;
}
h2 {
	font-size: 2.5vh;
	padding-bottom: 0px;
	margin-bottom: 0.9vh;
	border-bottom: solid 0.5vh #000000;
}

.centered-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.right-img {
	display: block;
	float: right;
	width: 100%;
	margin-top: 20px;
}

code {
	border: 0.05vh solid #AAAAAA;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.main {
	font-family: TexGyreHeros, sans-serif;
	color: #000000;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 15vh;

	a { color: #000000; font-weight:bold; text-decoration:none }
	a:hover { background-color:#FFC100; color:#000 }
	a:before { content:"«" }
	a:after { content:"»" }

	p {
		font-size: 1.75vh;
		text-align: justify;
	}

	ul {
		padding-left: 4vh;
	}

	li {
		p {
			margin: 0 3vh 0 0;
			text-align: left;
		}
	}

	li::marker {
		font-size: 1.75vh;
	}
}

.list-element {
	display: flex;
	justify-content: space-between;
}

.silent-link a:before{content:""}
.silent-link a:after{content:""}

.subtitle {
	margin-bottom: 4vh;

}

.date {
	font-size: 2.25vh !important;
	color: #AAAAAA;
	font-weight: bold;
	margin: 0;
}

.italic-right{
	font-style: italic !important;
	text-align: right !important;
}

/* NAVIGATION BAR */

.logo{
	background-color: #000000;
	font-size: 2.8vh;
	color: #FFFFFF;
	padding: 0.5vh 0.4vh 0.5vh 1.5vh;
	font-family: Orbitron, sans-serif;
	margin: 0;
	text-align: inherit;
	cursor: pointer;
}

.logo:hover {
	color: #FFC100;
}

.left-sidebar{
	height: 10vw;
	position: fixed;
	width: 12.5vw;
	height: 100vh;
	font-family: TexGyreHeros, sans-serif;
	z-index: 1;
	overflow-x: hidden;
	color: #000000;
	margin-top: 2.5vh;

	a { color: #000000; text-decoration:none }
	a:hover { background-color:#FFC100; color: #000000; text-decoration:none }

	ul{
		list-style-type: none;
		padding-left: 0;
		margin: 0;
	}

	ul li{
		font-weight: bold;
		font-size: 2.2vh;
		margin-left: 2.2vh;
		margin: 0.8vh 1.75vh;
	}


}

.top-sidebar {
	visibility: hidden;
	width: 0%;
	height: 0px;
	margin: 0 auto;
	border-bottom: 0px;
	font-family: TexGyreHeros, sans-serif;
	display: flex;

	a {
		color: #000000;
		text-decoration:none;
		font-weight: bold;
		font-size: 2.5vh;
		margin-top: 0.25em;
		margin-left: 2.5%;
		margin-right: 2.5%;
		height: inherit;
	}
	a:hover { background-color:#FFC100; color: #000000; text-decoration:none }
}


.text-left-wrapper{
	width: 65%;
	padding-right: 50px;
}

.image-right-wrapper{
	width: 35%;
}

.img-caption{
	width: 100%;
	text-align: right;
}

.img-shout-out{
	width: 100%;
	text-align: right;
}

.footer{
	width: auto;
	border-top: solid 4px #000000; ;
}

/* IMAGE GALLERY */

.gallery-container {
	margin: 0;
	overflow: auto;
}

.gallery-image {
	margin: 1vh;
	border: 0.4vh solid #000;
	float: left;
	width: 29%;
}

.gallery-image img {
	width: 100%;
	height: auto;
	filter: grayscale(100%);
	position: relative;
}

.gallery-image:hover img {
	width: 100%;
	filter: grayscale(0%);
}

.gallery-title {
	border-top: 0.4vh solid #000;
	font-weight: bold;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	margin 0;

	p {
		text-align: center;
		margin: 0;
		padding: 0 2vh 0 2vh;
	}
}

.gallery-image:hover .gallery-title{
	border-top: 0.4vh solid #000;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 16px, #FFC100 16px, #FFC100 96px);

	background: linear-gradient(45deg,#0000 calc(25%/3), #FFC100 0 calc(50%/3),
		#0000 0 calc(250%/3), #FFC100 0 calc(275%/3),
		#0000 0),linear-gradient( 45deg,#FFC100 calc(25%/3), #0000 0 calc(50%/3),
		#FFC100 0 25%, #0000 0 75%,
		#FFC100 0 calc(250%/3), #0000 0 calc(275%/3),#FFC100 0),
		linear-gradient(-45deg,#0000 calc(25%/3), #FFC100 0 calc(50%/3),
		#0000 0 calc(250%/3), #FFC100 0 calc(275%/3),
		#0000 0),linear-gradient(-45deg,#FFC100 calc(25%/3), #0000 0 calc(50%/3),
		#FFC100 0 25%, #0000 0 75%,
		#FFC100 0 calc(250%/3), #0000 0 calc(275%/3),#FFC100 0) #FFFFFF;
	background-size: 28vh, 22vh;
	background-position: 0px, 0px, 14vh, 11vh;
}

.gallery-desc {
	position: absolute;
	visibility: hidden;
	height: 0px;

	p {
		font-size: 0px;
		margin 0;
		height: 0;
	}
}

.gallery-image:hover .container .gallery-desc {
	visibility: hidden;
	bottom: 0px;
	background: #00000077;
	width: 100%;
	font-size: 2vh;
	height: fit-content;

	p {
		text-align: justify;
		vertical-align: text-bottom;
		color: white;
		font-family: TexGyreHeros, sans-serif;
		font-weight: normal;
		font-size: 1.5vh;
	}
}

div.container {
	position: relative;
	vertical-align: top;
	font-size:0;
	display: block;
}

