<!-- navigation start -->
		<div class="top-sidebar">
			<div class="logo" onclick="location.href='/';"> R3N </div>
			<a href="/about.html"> About </a>
			<a href="/works.html"> Works </a>
			<a href="/blog.html"> Blog </a>
		</div>
		<div class="left-sidebar">
			<div class="logo" onclick="location.href='/';"> R3N </div>
			<ul>
				<li> <a href="/about.html"> About </a> </li>
				<li> <a href="/works.html"> Works </a> </li>
				<li> <a href="/blog.html"> Blog </a> </li>
			</ul>
		</div>
<!-- navigation end -->
